.arrow {
    cursor: pointer;
    display: flex;
}

.arrow__down {
    position: absolute;
    left: 49%;
    bottom: -70px;
}

.arrow__left {
align-items: center;
}
.arrow__right {
align-items: center;
    transform: rotate(180deg);
}