.arrow {
    margin: 20px;
    cursor: pointer;
}

.arrow__down {
    display: flex;
    width: 50px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

// .arrow__left {
// }
.arrow__right {
    transform: rotate(180deg);
}