.best {
    background: url('../img/bg-best.png') center center / cover no-repeat;
    display: flex;
    align-items: center;
}

.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: rem(10px);
    &:last-child {
        margin-right: 0;
    }
}