.best {
    background: url('../img/bg-best.png') center center / cover no-repeat;
    display: flex;
    align-items: center;
}

.best__list {
    display: flex;
    margin-bottom: rem(55px);
    @include phones{
        flex-direction: column;
    }
}

.best__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    // padding: 0 20px;
    margin-bottom: 20px;
    @include phones{
        display: flex;
        flex-direction: row;
    }
}