.btn {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #e45028;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    height: 35px;
    &--bg-black:active {
        display: block;
    }
}

// .btn__black:active+.more-read {
//     display: block;
// }