.composition {
    min-width: rem(250px);
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: rem(5px);
    padding: rem(20px);
    top: 0;
    left: 100%;
    display: none;
    position: absolute;
    z-index: 1;

    @include tablets {
        position: absolute;
        top: 0;
        left: 12%;
        min-width: 0;
        padding: rem(8px);
    }

    @include phones {
        left: 35%;
    }
}

.composition__item {
    display: flex;
    align-items: center;
    padding: rem(8px);
}

.composition__icon {
    width: rem(40px);
}

.composition__name {
    display: flex;
    flex: 1 1 auto;
    padding: 0 0 0 rem(20px);
}