.composition {
    width: 250px;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 18%;
    display: none;
}

.composition__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.composition__name {
    display: flex;
    justify-content: flex-start;
}