.feature__desc {
    text-align: center;
}

.feature__pic {
    display: flex;
    margin-bottom: rem(30px);
    justify-content: center;
}

.feature__pic-img {
    width: 100px;
    height: 100px;
}

.feature__title {
    @include lifehack();
    font-size: rem(24px);
    font-weight: 500;
    margin-bottom: rem(10px);
}

.feature__text {
    font-size: rem(14px);
    font-weight: 300;
    color: #2f3234;
}