.first {
    background: url('../img/video-bg.png') center center / cover no-repeat;
    display: flex;

    @include tablets {
        padding-bottom: rem(100px);
        height: 100%;
    }
}

.first__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;
}

.first__content {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 15%;
    }
}

.first__content-left,
.first__content-right {
    float: left;
    width: 50%;

    @include tablets {
        float: none;
        width: 100%;
    }
}

.first__content-left {
    @include phones {
        height: rem(230px);
    }
}

.first__content-img {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;

    @include tablets {
        max-width: 80%;
    }
}

.first__content-right {
    padding-top: rem(115px);

    @include tablets {
        text-align: center;
        padding-top: 0;
    }

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3%;
    }
}


.first__desc {
    font-size: rem(65px);
    color: white;
    @include lifehack;
    text-transform: lowercase;
    line-height: 1em;

    @include phones {
        font-size: rem(54px);
    }
}