html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    @include ubuntu();
    color: $black;
}

.wrapper {
    position: relative;
    width: 100%;
    min-width: 940px + 20px;
    min-height: 100%;
    overflow: hidden;
}

.section {
    height: 100vh;
    min-height: 650px;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
    &>li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-content{
    display: flex;
    flex-direction: row;
}

.active-slide {
    display: flex;
}

.hidden {
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

footer {
    position: relative;
    width: 100%;
    align-items: flex-end;
    display: flex;
}

.footer__container {
    background-color: #2f3234;
    display: flex;
    width: 100%;
}

.footer__container-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__layout {
    display: flex;
    flex-direction: column;
}

.footer__address {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: "Ubuntu Light";
    font-weight: 300;
    padding: 4px 4px 2px;
}

.footer__phone {
    padding: 0px 4px 4px;
}

.footer__phone-number {
    color: #e45028;
    font-family: "Ubuntu - Bold";
    font-weight: 700;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

