.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon__food {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(90px);
    height: rem(90px);
    background-color: #e35028;
    opacity: 0.4;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &:hover {
        opacity: 1;
        transition: 0.2s;
    }
}

.icon__kkal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: rem(60px);
    height: rem(60px);
    opacity: 0.5;
}

.icon__desc {
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: rem(14px);
    font-weight: 400;
    &--quantity {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

