.menu {
    display: flex;
    background: url(../img/menu-burgers.png) center center/cover no-repeat;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
}

.menu__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
}

.menu__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-end;
    // overflow-x: hidden;
    // overflow-y: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    // overflow-x: hidden;
    // overflow-y: auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.menu__about {
    display: flex;
    width: rem(80px);
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    transition: 0.35s;

    &--meat {
        background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/menu-meet-food.png) center center/cover no-repeat;
    }

    &--vegetarian {
        background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/menu-vegetible-food.png) center center/cover no-repeat;
    }

    &--dietary {
        background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/menu-diet-food.png) center center/cover no-repeat;
    }
}

.menu__about:hover {
    width: 35rem;
}

.menu__about:hover .menu__about-body {
    display: flex;
}

.menu__about-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: rem(40px);
    font-weight: 400;
    white-space: nowrap;
    width: rem(80px);
    &:hover{
        color: #f9b43b;
    }
}

.menu__about-body {
    display: none;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #2f3234;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    &:visited+.menu__about-header{
        color: #f9b43b;
    }
}
