.more-read {
    width: rem(460px);
    background-color: #ffffff;
    color: #2f3234;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding: rem(20px);
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    @include phones {
        font-size: rem(14px);
        line-height: rem(18px);
        padding: rem(20px);
        width: rem(300px);
    }
}

.more-read__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(10px);
}

.more-read__title {
    color: #2f3234;
    font-family: 'Gagalin';
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(28.11px);
}

.more-read__close {
    background: none;
    border: 0;
    cursor: pointer;
}