.operator {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #ffffff;
    margin-bottom: rem(35px);
}

.operator__ava-img {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    margin-right: rem(20px);
}

.operator__info {
    width: rem(208px);
}

.operator__title {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 700;
    margin-bottom: rem(15px);
}

.operator__sub-title {
    font-weight: 300;
}