.order {
    background: linear-gradient(rgba(47, 57, 52, 0.9), rgba(47, 50, 52, 0.9)), url(../img/bg-texture-dostavka.png) center center/cover no-repeat;
    display: flex;
    align-items: center;
    .section__title {
      text-align: center;
    }
  }
  
.order-button{
    display: flex;
}

.order__clear {
    background: none;
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding: 0 rem(20px);
    cursor: pointer;
}

.order__link {
    // margin-left: rem(15px);
    width: 15%;
    padding: 0.5625rem 0;
    margin-left: 2%;
    min-width: 5.3125rem;
}