.panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    &--radio-button{
        margin-bottom: 30px;
    }
}

.panel__layout {
    display: flex;
    flex: 1 1;
    align-items: center;
    margin-right: 15px;
}

.panel-field {
    display: flex;
    flex-direction: column;
    // padding: 8px;
    &--street {
        width: 100%;
    }
    &--number {
        width: 100px;
    }
}

.panel-field__title {
    margin-bottom: 5px;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.panel-field__input {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    &:hover,
    :active,
    :focus{
      border: 2px solid #f9b43b;
    }
}

// border: 2px solid #f9b43b;