.panel {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(15px);
    &--button{
        margin-bottom: rem(30px);
        @include tablets{
            display: flex;
            justify-content: center;
        }
    }
}

.panel__layout {
    display: flex;
    flex: 1 1;
    align-items: center;
    margin-right: rem(15px);
    &--check{
        flex: 0;
    }
}

.panel-field {
    display: flex;
    flex-direction: column;
    @include tablets{
        width: 100%;
    }
    &--street {
        width: 100%;
    }
    &--number {
        width: rem(100px);
        @include tablets{
            width: rem(150px);
        }
    }
   
}

.panel-field__title {
    margin-bottom: rem(5px);
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
}

.panel-field__input {
    padding: rem(10px);
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: rem(14px);
    &:hover,
    :active,
    :focus{
      border: 2px solid #f9b43b;
    }
}

// border: 2px solid #f9b43b;