.panel {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(15px);
    &--radio-button{
        margin-bottom: rem(30px);
    }
}

.panel__layout {
    display: flex;
    flex: 1 1;
    align-items: center;
    margin-right: rem(15px);
}

.panel-field {
    display: flex;
    flex-direction: column;
    // padding: rem(8px);
    &--street {
        width: 100%;
    }
    &--number {
        width: rem(100px);
    }
}

.panel-field__title {
    margin-bottom: rem(5px);
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
}

.panel-field__input {
    padding: rem(10px);
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: rem(14px);
    &:hover,
    :active,
    :focus{
      border: 2px solid #f9b43b;
    }
}

// border: 2px solid #f9b43b;