
.radio-button {
    display: flex;
    position: relative;
    margin-right: rem(15px);
    align-items: center;
}

.radio-button__input {
    position: absolute;
    width: rem(1px);
    height: rem(1px);
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-button__title {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    white-space: nowrap;
}

.radio-button__fake {
    width: rem(18px);
    height: rem(18px);
    border: 1px solid #c9c9c9;
    background: #fff;
    border-radius: 50%;
    position: relative;
    margin-right: rem(10px);
}

.radio-button__fake::before {
    content: "";
    width: rem(0px);
    height: rem(0px);
    display: block;
    border-radius: 50%;
    background: #e35028;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.radio-button__input:checked+.radio-button__fake {
    // border-color: #e35028;
}

.radio-button__input:checked+.radio-button__fake::before {
    width: rem(8px);
    height: rem(8px);
}