.review {
    position: relative;
    filter: grayscale(100%);
    &:hover {
        .review__hover {
            opacity: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.review__avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .8);
    padding: rem(45px) 5% rem(10px);
    color: #fff;
    opacity: 0;
    transition: opacity .3s;

    @include tablets {
        padding: rem(15px) 5% rem(8px);
    }
}

.review__title {
    font-family: "Gagalin";
    text-transform: uppercase;
    text-align: start;
    font-size: rem(24px);

    @include phones {
        font-family: "Gagalin";
        text-align: center;
        padding: rem(20px);
    }
}

.review__text {
    margin-bottom: rem(20px);
    font-size: rem(14px);
    line-height: rem(24px);

    @include phones {
        display: none;
    }
}

.review-btn {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: 14px;
    padding: rem(10px) rem(15px);
    align-items: center;
    justify-content: center;
    @include phones {
        display: none;
        margin: rem(20px);
    }
}

// .review-btn:hover .more-read {
//     display: block;
// }

.review-btn-second {
    display: none;
    // width: 15%;
    // min-width: rem(85px);
    @include tablets {
        display: none;
    }

    @include phones {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        font-size: 14px;
        padding: rem(10px) rem(15px);
        align-items: center;
        justify-content: center;
    }
}