.section-title {
    font-size: rem(72px);
    @include gagalin();
    margin-bottom: rem(45px);
    line-height: 1;
    color: $yellow;
    text-align: start;
    @include tablets {
        text-align: center;
        font-size: rem(58px);
    }

    &--color-black {
        color: #000;
        margin-bottom: rem(85px);
    }

    &--centered {
        text-align: center;
    }

    &--white {
        color: #fff;
    }

    &--menu {
        padding: rem(80px);
        color: #fff;

        @include tablets {
            padding: rem(10px);
            font-size: rem(52px);
        }

        @include phones {
            // padding: rem(5px);
            // font-size: rem(22px);
            display: none;
        }
    }

  
}