.section-title {
    font-size: rem(72px);
    @include gagalin();
    margin-bottom: rem(45px);
    line-height: 1;
    color: $yellow;
    text-align: center;
    &--color-black {
        color: #000;
    }
    &--centered {
        text-align: center;
    }
    &--color-white {
        color: #fff;
    }
    &--menu {
        margin-bottom: 0;
        padding: rem(100px);
        color: #fff;
    }
    &--team {
        text-align: left;
    }
}