.sliders {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 2rem;
    // height: 0;

    &__item {
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        background-color: #ccc;
        margin: 8px;
        position: relative;

        &--active {
            &:after {
                content: '';
                display: inline-flex;
                border: 2px solid #ccc;
                width: rem(18px);
                height: rem(18px);
                border-radius: 50%;
                transition: 1s ease;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            background-color: #fff;

            &:after {
                content: '';
                display: inline-flex;
                border: 2px solid #fff;
                width: rem(18px);
                height: rem(18px);
                border-radius: 50%;
                transition: 1s ease;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

}