.social__list {
    display: flex;
}

.social__link {
    padding: 8px;
}

.social__icon {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
    &--active {
        opacity: 1;
    }
}