.social__list {
    display: flex;
}

.social__link {
    padding: rem(8px);
}

.social__icon {
    width: rem(20px);
    height: rem(20px);
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
    &--active {
        opacity: 1;
    }
}