.types {
    align-items: center;
    display: flex;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
}

.types__composition {
    position: relative;
    display: inline-block;
}

.types__composition:hover .composition{
    display: flex;
    flex-direction: column;
}

.types__content-img-icon{
    width: rem(450px);
    height: rem(300px);
    margin: rem(30px);
}

.types__desc {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    min-width: rem(441px);
}

.types__price {
    display: flex;
    color: #e35028;
    font-family: 'Gagalin';
    font-weight: 400;
    font-size: rem(72px);
    padding: rem(8px) 0;
}

.types__currency {
    display: flex;
    color: #e35028;
    font-family: 'Gagalin';
    font-weight: 400;
    font-size: rem(30px);
    padding: rem(8px);
}

.types__footer {
    display: flex;
    align-items: baseline;
}

.types__cost {
    display: flex;
    align-items: baseline;
}