//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints
$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import "normalize";


// @import "main";

//setups
@import "fonts";
@import "mixins";
@import "layouts";


//blocks
@import "header";
@import "first";
@import "logo";
@import "button";
@import "nav";
@import "section-title";
@import "arrow";
@import "best";
@import "feature";
@import "reviews";
@import "review";
@import "types";
@import "icon";
@import "menu";
@import "team";
@import "operator";
@import "composition-table";
@import "more-read";
@import "working";
@import "form";
@import "panel";
@import "radio-button";
@import "order";
@import "map";
@import "social-list";
@import "check";
@import "hamburger-menu";
@import "hamburger-menu-link";